<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
          <div class="row">
                <!-- Product List -->
                  <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="align-middle product-box">
                        <img src="{{ tempProduct.imageUrl }}"  class="img-responsive" >
                          <h5>{{ tempProduct.name }}</h5>
                          <div class="price">{{ tempProduct.unitPrice | currency:'USD' }}</div>
                          <button class="primary-btn" (click)="addToCart(tempProduct)">
                            <i class="fas fa-cart-plus"></i> Add to Cart
                          </button>
                    </div>

                  </div> 
          </div>
    </div>
  </div>
</div>